<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <%= link_to "Project_1", root_path, id: "logo", :class => "navbar-brand mb-0 h1"%>
      <ul class="nav  my-2 my-lg-0"> 
      <%# justify-content-end %>
        <% if @current_user.present? %>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>

            <div class="dropdown-menu">

              <%= link_to "Profile", @current_user, :class => 'dropdown-item' %>
              <%= link_to "Settings", edit_user_path(@current_user), :class => 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => 'dropdown-item'  %>

            </div>
          </li>
          
          <li class="nav-item"><%= link_to "Users", users_path, :class => "nav-link"  %></li>
        <% else %>

          <li class="nav-item"><%= link_to "Sign in", login_path, :class => "nav-link"  %></li>
          
        <% end %>
      </ul>
    </nav>

    
    <div class="container">

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>

  </body>

</html>
