<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <%= link_to "Project_1", '#', id: "logo", :class => "navbar-brand mb-0 h1"%>
      <ul class="nav justify-content-end my-2 my-lg-0">
        <% if @current_user.present? %>
          
            <li class="nav-item"><%= link_to "New Post", new_post_path, :class => "nav-link"%></li>
            <li class="nav-item"><%= link_to "All Posts", posts_path, :class => "nav-link" %></li>
            <li class="nav-item"><%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => "nav-link"  %></li>

        <% else %>

            <li class="nav-item"><%= link_to "Sign up", new_user_path, :class => "nav-link"  %></li>
            <li class="nav-item"><%= link_to "Sign in", login_path, :class => "nav-link"  %></li>
          
        <% end %>
      </ul>
    </nav>

    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
      <%= yield %>
    </div>

  </body>

</html>
